
doctype html

include _mixins



html(lang="en")
	head
		meta(charset='utf-8')

		| !{app.nl}
		title= me.getTitle()
		meta(name="viewport" content="width=device-width, initial-scale=1")
		| !{app.nl}

		if me.getBaseDepth() == 1
			base(href="../")
		else if me.getBaseDepth() == 2
			base(href="../../")
		else
			base(href="")

		| !{app.nl}
		link(rel="stylesheet", href="dist/css/app.css")
		| !{app.nl}

		if page
			- let cssHref = `dist/css/pages/${page.number}.css`;
			link(rel="stylesheet", href=cssHref)

		if palette
			- let cssHref = `dist/css/palettes/${palette.id}.css`;
			link(rel="stylesheet", href=cssHref)

		| !{app.nl}
		| !{app.gaText}
		| !{app.nl}

	body
		| !{app.nl}
		header.pyp-header
			h1= me.getTitle()
			div.back-to-parent
				if me.page
					a(href=me.page.getRelativeURL()) back to page
				else
					a(href=app.pages[0].getRelativeURL()) back to home
		| !{app.nl}
		content.pyp-content
			+NextPreviousPageLinks(me)
			block content
			+NextPreviousPageLinks(me)
		| !{app.nl}

		footer.footer-one
			div.repos
				div.title
					h3 Repos related to pang:
				div.content
					each repo in me.app.meta.repos
						| !{app.nl}
						div.repo
							div.title
								h3= repo.name
							| !{app.nlx}
							div.description
								p= repo.description
							| !{app.nlx}
							div.url
								a(href=repo.url target="_blank") open on GitHub
							| !{app.nlx}

		| !{app.nl}
		footer.footer-two
			h2 &copy; Ankur Seth 2021 #[a(href=app.meta.author.website) (website)]


