doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		title= me.getTitle()
		meta(name="viewport" content="width=device-width, initial-scale=1")

		if me.getBaseDepth() == 1
			base(href="../")
		else if me.getBaseDepth() == 2
			base(href="../../")
		else
			base(href="")

		link(rel="stylesheet", href="dist/css/app.css")

		if page
			- let cssHref = `dist/css/pages/${page.number}.css`;
			link(rel="stylesheet", href=cssHref)

		if palette
			- let cssHref = `dist/css/palettes/${palette.id}.css`;
			link(rel="stylesheet", href=cssHref)

		| !{app.gaText}

	body
		header.pyp-header
			h1 palpng
		content.pyp-content
			block content
		footer.pyp-footer
			h2 &copy; Ankur Seth 2021


