doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		| !{app.nl}
		title= me.getTitle()
		meta(name="viewport" content="width=device-width, initial-scale=1")
		| !{app.nl}

		if me.getBaseDepth() == 1
			base(href="../")
		else if me.getBaseDepth() == 2
			base(href="../../")
		else
			base(href="")

		| !{app.nl}
		link(rel="stylesheet", href="dist/css/app.css")
		| !{app.nl}

		if page
			- let cssHref = `dist/css/pages/${page.number}.css`;
			link(rel="stylesheet", href=cssHref)

		if palette
			- let cssHref = `dist/css/palettes/${palette.id}.css`;
			link(rel="stylesheet", href=cssHref)

		| !{app.nl}
		| !{app.gaText}
		| !{app.nl}

	body
		| !{app.nl}
		header.pyp-header
			h1 palpng
		| !{app.nl}
		content.pyp-content
			block content
		| !{app.nl}
		footer.pyp-footer
			h2 &copy; Ankur Seth 2021


