
mixin PangDownload(download)
	| !{app.nl}
	div.download(class=download.getRes())
		div.top
			span.res(class=download.getRes())= download.getRes()
			span.resx= download.getResX()
		div.middle
			h4.name= download.getName()
		| !{app.nl}
		div.bottom
			a(href=download.getRelativeURL() download) Download
			span.size= download.getSizeKB()

mixin Colorbox(color)
	div.colorbox
		p(class=color.getClassName())
		b= color.getHexCode()

mixin Colorshelf(palette)
	| !{app.nl}
	div.colorshelf
		| !{app.nl}
		each color in palette.colors
			| !{app.nl}
			+Colorbox(color)



mixin NextPreviousPageLinks(me)
	| !{app.nl}
	div.nextprev
		div.prev
			if me.prev
				a(href=me.prev.getRelativeURL())
					| !{app.nl}
					div.title= me.prev.getTitle()
					div.name Previous
					div.sub= me.prev.getSubTitle()
		| !{app.nl}
		div.next
			if me.next
				a(href=me.next.getRelativeURL())
					| !{app.nl}
					div.title= me.next.getTitle()
					div.name Next
					div.sub= me.next.getSubTitle()


