
extends _base

block content
	each palette in page.palettes
		div.palette
			div.title
				h2
					- let href = `palette/${palette.id}`;
					a(href=href) Palette no. #{palette.id}
			div.colors
				each color, index in palette.colors
					div
						p(class=color.getClassName())
						b= color.getHexCode()
	div.pagination
		each p in app.pages
			if p == page
				a current page
			else
				a(href=p.relativeURL)= p.number



