
extends _base

block content
	each palette in page.palettes
		| !{app.nl}
		div.palette
			div.title
				h2
					- let href = `palette/${palette.id}`;
					a(href=href) Palette no. #{palette.id}
			div.type
				h4
					span.n ##{palette.getTypeNIndex()} 
					span.in in
					a(href=palette.type.getHref())= palette.type.title
			+Colorshelf(palette)
			div.hues
				each hue in palette.hues
					a.hue(href=hue.getHref()) Hue #{hue.hue_start}&deg;
	div.pagination
		h2 #{app.getTitle()} | pages
		each p in app.pages
			| !{app.nl}
			if p == page
				a.current= p.number
			else
				a(href=p.relativeURL)= p.number



