
extends _base

block content
	each palette in page.palettes
		| !{app.nl}
		div.palette
			div.title
				h2
					- let href = `palette/${palette.id}`;
					a(href=href) Palette no. #{palette.id}
			div.colors
				each color, index in palette.colors
					| !{app.nl}
					div
						p(class=color.getClassName())
						b= color.getHexCode()
	div.pagination
		h2 #{app.getTitle()} | pages
		each p in app.pages
			| !{app.nl}
			if p == page
				a.current= p.number
			else
				a(href=p.relativeURL)= p.number



